<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Oleo+Script:wght@700&family=Quicksand:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/8cb1e35b09.js" crossorigin="anonymous"></script>
    <title>ClinicCare</title>
</head>
<body>
    <img src="/images/image.png" alt="Arrow" style="position:fixed; top:100px; left:10px; width:50px; height:50px; z-index:9999;" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">
    <header>
        <div>
            <h1>ClinicCare</h1>
        </div>
        <nav>
            <ul>
                <li><a class="a" href="#">Home</a></li>
                <li><a class="a" href="#about">About us</a></li>
                <li><a class="a" href="/main/patient_signup">Patient portal</a></li>
                <li><a class="a" href="/main/doctor_signup">Doctor portal</a></li>
            </ul>

        </nav>
    </header>
    <main>
        <section id="hero">
            <div id="hero-content">
                <h1>Your health , our expertise</h1>
                <p>Connect with Top-Rated Doctors and Clinics Near You<br> and receive the Best Possible Care.</p>
                <br>
                <br>
                <a id="button" href="/main/patient_signup">Find a doctor</a>

            </div>
        </section>
        
        <section id="Features">
            <h2>Features</h2>
            <ul>
                <li class="card">
                    <div id="d1" class="feature" >
                        <h3>Find the Perfect Doctor</h3>
                        <i class="fa-solid fa-user-doctor"></i>
                        <p>Easily search and connect with specialists across various fields, from general practitioners to cardiologists.</p>
                    </div>
                </li>
                <li class="card">
                    <div id="d2" class="feature">
                        <h3>Online Appointments</h3>
                        <i class="fa-solid fa-laptop"></i>
                        <p>Conveniently book appointments online, saving you time and hassle.</p>
                    </div>
                </li>
                <li class="card">
                    <div id="d3" class="feature">
                        <h3>Patient Reviews</h3>
                        <i class="fa-solid fa-square-poll-horizontal"></i>
                        <p>Read genuine testimonials from other patients to help you make informed decisions.</p>
                    </div>
                </li>
                <li class="card">
                    <div id="d4" class="feature">
                        <h3>Tracking</h3>
                        <i class="fa-solid fa-chart-simple"></i>
                        <p>Track and save your medical history and health data.</p>
                    </div>
                </li>
                <li class="card">
                    <div id="d5" class="feature">
                        <h3>Consultation</h3>
                        <i class="fa-solid fa-stethoscope"></i>
                        <p>Free first consultation on your login</p>
                    </div>
    
                </li>
            </ul>
    
        </section>
        <section id="about">
            <h2>About Us</h2>
            <p>"Your Trusted Partner in Healthcare"</p>
            <div id="about-content" class="highlight">
                <p>Welcome to ClinicCare - Simplifying Healthcare for Patients</p>
                <p>At ClinicCare, we are dedicated to making healthcare management easy and accessible for patients. Our platform allows you to book appointments, keep track of your medical history, and securely store all your health records in one place.</p>
                <strong>What We Offer:</strong>
                <ul>
                    <li><strong>Effortless Appointment Booking:</strong> Find available doctors and schedule appointments at your convenience.</li>
                    <li><strong>Manage Your Health Records: </strong>Access and organize all your past prescriptions, lab results, and other medical records in one secure portal.</li>
                    <li><strong>Track Your Treatments: </strong>Keep a comprehensive record of your ongoing treatments and health history, so you’re always informed.</li>
                    <li><strong>Prescriptions and Lab Results: </strong>View and store your prescriptions and lab results uploaded directly by your doctor, ensuring you have everything you need for your care.</li>
                </ul>
                <strong>Our Vision:</strong>
                <p>We believe in empowering patients by giving them control over their healthcare, ensuring that vital medical information is easily accessible and organized.</p>
                <strong>Why ClinicCare?</strong>
                <ul>
                    <li><strong>Convenience: </strong>  Manage appointments, health records, and prescriptions from anywhere, at any time.</li>
                    <li><strong>Efficiency:</strong> Streamlined communication between patients and doctors, making healthcare more efficient.</li>
                    <li><strong>Security:</strong> Your medical records are safely stored and easily accessible when you need them.</li>
                </ul>
                <p>At ClinicCare, we make managing your health simple, so you can focus on what truly matters—your well-being.</p>
            </div>
        </section>

        <section class="container">
            <div class="testimonial mySwiper">
              <div class="testi-content swiper-wrapper">
                <div class="slide swiper-slide">
                  <img src="/images/image1.jpg" alt="" class="image" />
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
                    saepe provident dolorem a quaerat quo error facere nihil deleniti
                    eligendi ipsum adipisci, fugit, architecto amet asperiores
                    doloremque deserunt eum nemo.
                  </p>
      
                  <i class="bx bxs-quote-alt-left quote-icon"></i>
      
                  <div class="details">
                    <span class="name">Marnie Lotter</span>
                    <span class="job"></span>
                  </div>
                </div>
                <div class="slide swiper-slide">
                  <img src="/images/image2.jpg" alt="" class="image" />
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
                    saepe provident dolorem a quaerat quo error facere nihil deleniti
                    eligendi ipsum adipisci, fugit, architecto amet asperiores
                    doloremque deserunt eum nemo.
                  </p>
      
                  <i class="bx bxs-quote-alt-left quote-icon"></i>
      
                  <div class="details">
                    <span class="name">Marnie Lotter</span>
                    <span class="job"></span>
                  </div>
                </div>
                <div class="slide swiper-slide">
                  <img src="/images/image3.jpg" alt="" class="image" />
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam,
                    saepe provident dolorem a quaerat quo error facere nihil deleniti
                    eligendi ipsum adipisci, fugit, architecto amet asperiores
                    doloremque deserunt eum nemo.
                  </p>
      
                  <i class="bx bxs-quote-alt-left quote-icon"></i>
      
                  <div class="details">
                    <span class="name">Marnie Lotter</span>
                    <span class="job"></span>
                  </div>
                </div>
              </div>
              <div class="swiper-button-next nav-btn"></div>
              <div class="swiper-button-prev nav-btn"></div>
              <div class="swiper-pagination"></div>
            </div>
        </section>
        <section id="book">
            <img id="book-image" src="/images/book3.jpg">
            <div id="book-content">
                <p>Book Your Appointment in Just a Few Clicks!</p><br><br>
                <div><a href="/main/patient_signup">Book Now</a></div>
            </div>
        </section>
        

    </main>
    <footer>
        <div id="footer">
            <div id="container">
                <div id="links">
                    <h2>Links</h2>
                    <ul class="ul_links">
                        <li><ion-icon name="code"></ion-icon><a href="#">Home</a></li>
                        <li><ion-icon name="code"></ion-icon><a href="#about">About</a></li>
                        <li><ion-icon name="code"></ion-icon><a href="/main/patient_signup">Patient portal</a></li>
                        <li><ion-icon name="code"></ion-icon><a href="/main/doctor_signup">Doctor portal</a></li>

                    </ul>
                </div>
                <div id="contact">
                    <h2>Contact Us</h2>
                    <ul class="ul_links">
                        <li><span><ion-icon name="call"></ion-icon></ion-icon></span><a href="">  +919509347582</a></li>
                        <li><span><ion-icon name="mail"></ion-icon></ion-icon></span><a href="">  cliniccare@gmail.com</a></li><br>
                        <div id="connect">
                            <ul class="ul_links" id="ss">
                                <li><a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank"><ion-icon class="new" name="logo-instagram"></ion-icon></a></li>
                                <li><a href="https://www.facebook.com/login/" target="_blank"><ion-icon class="new" name="logo-facebook"></ion-icon></a></li>
                            </ul>
                        </div>
                    </ul>

                </div>
            </div>
            <div id="copyright">
                <p><span>&#169</span> 2024 ClinicCare. All Rights Reserved.</p>
            </div>
        </div>
     
    </footer>

    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>